
/*
 * Default style sheet for the m8n/ElevenBits home page.
 * Please note that this is copyrighted material.
 *
 * @author  <a href="mailto:jw@m8n.be">Jan Willems</a> 
 * @version 0.9.1 [21.11.2004, 1145hrs]
 * @version 1.0.0 [26.02.2005, 2115hrs]
 * @version 1.1.0 [28.05.2005, 2000hrs]
 * @version 1.2.0 [02.07.2006, 2300hrs]
 * @version 1.3.0 [11.06.2009, 2236hrs]
 *
 */

body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	text-align: center;
	margin: 25px 0px 25px 0px;
}

.main { 
	color: #333366; 
	background: #fff;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	position: relative; 
	width: 700px; 
	height: auto; 
	visibility: visible; 
	display: block;
	color: #53554b;
}	

/*
 * the menu and submenu tags
 */

.menu {
	float: left;
	width: 180px;
	margin: 0px;
	padding: 0px;
	display: block;
}

/* the menu header */
.mh {
	width: 180px;
	height: 2em;
	border-left: 1px none;
	border-bottom: 1px dotted #BCBEB1;
	border-right: 1px none;
	padding: 0;
	margin: 0;
	color: #6F8282;
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 2em;
	font-size: 11px;
	list-style-type: none;
	font-variant: small-caps;
}

.menu ul {
	border: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	clear: left;
}

.menu ul li {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0;
	text-indent: 25px;
}

.menu ul li a {
	background: url("http://localhost/images/right.png") no-repeat;
	width: 180px;
	height: 2em;
	/*border-top: 1px solid #EDEEE8;*/
	border-left: 1px none;
	border-bottom: 1px dotted #BCBEB1;
	border-right: 1px none;
	padding: 0;
	margin: 0;
	color: #6F8282;
	text-decoration: none;
	display: block;
	text-align: left;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 2em;
	font-size: 12px;
}

.menu ul ul li a {
	background: url("http://localhost/images/sub.png") no-repeat;
	width: 180px;
	height: 2em;
	border-bottom: 1px dotted #BCBEB1;
	padding: 0;
	margin: 0;
	color: #6F8282;
	text-decoration: none;
	display: block;
	text-align: left;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 2em;
	font-size: 12px;
	text-indent: 40px;
}

.menu ul li a:hover {
	color: #4B6060;
	background: url("http://localhost/images/right.png") no-repeat;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #ECF2F3;
	border-bottom-color: #9CADAD;
}

.menu ul ul li a:hover {
	text-indent: 40px;
	color: #4B6060;
	background: url("http://localhost/images/sub.png") no-repeat;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #ECF2F3;
	border-bottom-color: #9CADAD;
}

/*
 * the content part
 */

.content {
	width: 500px;
	float: right;
	text-align: left;	
	display: block;
	margin-bottom: 5px;
}

.content .logo {
	width: 100px;
	float: right;
}

.content p {
	font-size: 14px;
	margin: 0px 0px 10px 0px;
}

.content ul li {
	font-size: 14px;
	list-style: circle;
	
}

.content p ul li a,
.content ul li a {
	font-size: 14px;
	margin: 0px 0px 10px 0px;
}

.content ul {
	font-size: 15px;
}

/*
 * the tab container
 */
 
.content .tabContainer {
   position: relative;
   padding: 25px 0px 0px 0px;
   margin: 15px 10px 10px 10px;
}

.content .tabContainer ul.tabs {
   position: absolute;
   top: 0;
   left: 0;
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 14px;  /*small; */
   list-style-type: none;
   list-style-position:inside; 
}

.content .tabContainer ul.tabs li {
   float: left;
   padding: 5px 12px 4px 10px;
   margin: 0px 3px 0px 0px;
   border-color: #ccc;
   border-style: dotted;
   border-width: 1px 1px 0px 1px;
   font-weight: bold;
   color: #41423c;
   background-color: #f0f0f0; 
}

.content .tabContainer ul.tabs li.active {
   border-style: solid;
   padding: 5px 12px 5px 10px;
   border-width: 1px 1px 0px 1px;
   z-index: 99;
   color: #c30; /* redish */
   background: #fff;
}

.content .tabContainer ul.tabs li a {
	text-decoration: none;
	color: #41423c;
}

.content .tabContainer ul.tabs li a:visited,
.content .tabContainer ul.tabs li a:link {
	color: #464c4c; 
	text-decoration: none;
	border-style: none;
}

.content .tabContainer ul.tabs li a:hover {
	color: #c30;
	text-decoration: none;
	font-weight: bold;
}

.content .tabContainer .box { 
	width: 460px;
	border: 1px #ccc solid;
	padding: 10px 10px 0px 10px;
	margin: 4px 0px 15px 0px;
	font-size: 15px;
}

/*
 * table
 */

.content .box {
	width: 460px;
	border: 1px solid #ccc; 
	margin: 0px 0px 10px 10px;
	padding: 10px 10px 10px 10px;
	font-size: 15px;
}

.content .box table {
	width: 100%;
}

.content .box .header {
	padding: 5px 5px 5px 5px;
	background-color: #e6e6e6;
	height: 25px;
}

.content .box .even {
	background-color: #e6e6e6;
}

.content .box a:visited,
.content .box a:link {
	border-style: none;
	text-decoration: none;
}

.content .box a:hover {
	color: #c30;
}

/* TODO: why is this here? */
td, th {
	/*
	padding: 5px 5px 5px 5px;
	height: 25px;
	*/
}


.content .box .previous {
	text-align: left;
}

.content .box .next {
	text-align: right;
}

/*
 * the blog entries
 */
 
.entry {
	margin-top: 10px;
	margin-bottom: 10px;
}

.entry .body {
	margin-top: 10px;
	margin-bottom: 10px;
	/* background-color: red;*/
}

.entry .tags {
	color:#41423C;
	font-size:12px;
	margin:0;
	/* background-color: green; */
}

/*
 * at last! the footer
 */

.footer {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #485F5F;
	display: block;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 25px 2px;
	clear: both;
	font-size: 12px;
}

.footer .left {
	text-align: left;
	float: left;
}

.footer .right {
	text-align:right;
	float: right;
}

.footer a {
}

/*
 * the headers
 */
h1 {
	font-size: 20px;
 	color: #cc3300;
 	font-weight: bold;
 	margin: 0px 0px 0px 0px;
}

h2 {
 	font-size: 17px;
 	color: #41423c;
 	font-weight: bold;
 	margin: 0px 0px 5px 0px;
}

h3 {
 	font-size: 15px;
 	color: #c30;
 	font-weight: bold;
 	margin: 0px 0px 0px 0px;
}

h4 {
 	font-size: 12px;
	/* font-style: italic; */
 	color: #41423c;
 	margin: 0px 0px 0px 0px;
}

h5 {
 	font-size: 12px;
 	color: #41423c;
 	margin: 0px 0px 0px 0px;
}

h6 {
 	font-size: 12px;
 	font-style: italic;
 	color: #41423c;
 	margin: 0px 0px 0px 0px;
}

/*
 * alignment
 */
.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.middle {
	text-align: center;
	vertical-align: middle;
}

/*
 * the -n-o -u-nderline class
 */
.nu {
	text-decoration: none;
}

/*
 * pointer handling
 */
 
:visited {
	color: #464c4c; 
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #464c4c;
}

:active {
}

:hover {
}

:link {
	color: #464c4c;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #464c4c;
}		
