body {
	background: #fff;
	margin: 0;
	padding: 0;
	color: #000;
	/*font: x-small/ 1.5em Georgia, Serif;*/
	voice-family: "\"}\"";
	voice-family: inherit;
	/* font-size: small; */
}

html>body {
	/*font-size: small;*/
}

#menu {
	float: left;
	width: 100%;
	background: #d1bc92 url("../images/bg.gif") repeat-x bottom;
	font-size: 100%;
	line-height: normal;
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0;
	list-style: none;
}

#menu li {
	float: left;
	background: url("../images/left.gif") no-repeat left top;
	margin: 0;
	padding: 0 2 0 9px;
}

#menu a {
	display: block;
	background: url("../images/right.gif") no-repeat right top;
	padding: 5px 15px 5px 6px;
	text-decoration: none;
	color: #765;
}

#menu a:hover {
	color: #333;
}

#menu #current {
	background-image: url("../images/left_on.gif");
	font-weight: bold;
}

#menu #current a {
	background-image: url("../images/right_on.gif");
	color: #f1e5ce;
	padding-bottom: 5px;
}