# byte-compiled / optimized / DLL files
*.py[cod]
.pytest_cache

# distribution / packaging
dist/
*.egg-info/

# sphinx documentation
docs/_*
!docs/__init__.py

# ide settings
.idea
.vscode

# environment settings
.env
elevenbits/.env

# coverage
**/coverage.xml
**/.coverage.xml
.coverage*
report.xml

# yarn
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# compiled canvas scss output
core/static/css/style.css
core/static/css/style-rtl.css
core/static/css/style*.css.map

# nvim
*.swp

# local database dumps (see export-render-db.sh)
/dump
/dump.sql

# canvas
canvas
examples
