# byte-compiled / optimized / DLL files
*.py[cod]
.pytest_cache

# distribution / packaging
dist/
*.egg-info/

# sphinx documentation
docs/_*
!docs/__init__.py

# ide settings
.idea
.vscode

# environment settings
.env
elevenbits/.env

# coverage
**/coverage.xml
**/.coverage.xml
.coverage*
report.xml

# vi
.swp
