[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
django-heroku = "*"
django = "*"
django-debug-toolbar = "==1.9"
pygments = "==1.6"
"beautifulsoup4" = "*"
whoosh = "==2.7.0"
twitter = "==1.15.0"
jsonfield = "==1.0.0"
django-extensions = "*"
django-sitetree = "*"
whitenoise = "*"
django-pipeline = "*"
django-static-precompiler = "*"
mistune = "*"
pillow = "*"
django-environ = "*"
raven = "*"
"psycopg2-binary" = "*"

[requires]
python_version = "3.6"
implementation_version = "3.6.2"

[dev-packages]
werkzeug = "*"
honcho = "*"
ipython = "*"
