Django==1.9.1
psycopg2==2.5.4

hg+https://bitbucket.org/elevenbits/django-user-tracking
git+https://github.com/jw/django-treemenus.git
#django-crontab==0.5.1
django-debug-toolbar==1.4

# Fabric==1.10.0 [only python 2.x]
Markdown==2.5
Pygments==1.6
beautifulsoup4

# search
git+https://github.com/django-haystack/django-haystack.git
Whoosh==2.7.0

# twitter
#oauth==1.0.1
#oauth2==1.5.211
#oauthlib==0.6.3
twitter==1.15.0
jsonfield==1.0.0

pep8==1.5.7
