Django==1.7
psycopg2==2.5.4


django-user-tracking==0.4.11

django-treemenus==0.9.1
#django-crontab==0.5.1
django-debug-toolbar==1.2.1

# Fabric==1.10.0 [only python 2.x]
Markdown==2.5
Pygments==1.6

# twitter
#oauth==1.0.1
#oauth2==1.5.211
#oauthlib==0.6.3
twitter==1.15.0
jsonfield==1.0.0

pep8==1.5.7
