{% extends "base.html" %}

{% block menu %}
    {% include "menu.html" %}
{% endblock%}

{% block body %}
	
	<p> 
	 	Here you'll find a list of clients that appreciated the 
	 	work ElevenBits did for them.
	</p>
	
	<p>
		<a href="http://www.ericsson.ie">Ericsson Ireland</a> || Broadcom || 
		Eircell (now <a href="http://www.vodafone.ie/">Vodafone Ireland</a>) || 
		<a href="http://www.eircom.ie">Eircom</a> || 
		CapeTechnologies (now <a href="http://www.wedotechnologies.com/">WeDo technologies</a>) || 
		<a href="http://www.base.be"">BASE</a> || 
		<a href="http://www.accenture.com">Accenture</a> || 
		Siemens Business Services || <a href="http://ec.europa.eu/index_en.htm">European Commission</a> || 
		<a href="http://www.sogeti.be">Sogeti</a> || <a href="http://www.smals.be/">SmalS</a>
	</p>
	
	<p>
		Currenly ElevenBits is consulting <a href="http://www.21net.com">21Net</a>, 
		a company delivering broadband on high speed trains.
	</p>

{% endblock %}

