{% extends "base.html" %}

{% block menu %}
    {% include "menu.html" %}
{% endblock%}

{% block body %}

	<p>
		ElevenBits is working at some projects.  Here is a list:
	</p>
	
	<h4> 
	   This web site
	</h4>
	<p>
	   This web site is built using the <a href="www.djangoproject.com">
	   Django Framework</a>.  Version 1.4 is used.  
	</p>
	<p> 
	   Some Django plugins are used, like the 
	   <a href="https://github.com/jphalip/django-treemenus">
	   treemenus</a> system.
	</p>
	<p>
	   The system was (and still is) developed using 
	   <a href="http://www.eclipse.org">Eclipse</a>
	   and the <a href="http://pydev.org/">PyDev</a>.
	</p>

	<h4>
		Vonk
	</h4>
	<p>
		An open souce, Python based sharing system.
	</p>

	<h4> 
		Bluebox (a.k.a. Yttrium)
	</h4>
	<p>Information will follow soon.</p>

	<h4> 
		Klink
	</h4>
	<p>
	   Klink is a wedding application.  It allows the bride and groom to inform 
	   their friends and family to invite them to the wedding.  Visitors can log 
	   in, to see some pictures and read some interesting info on the wedding.
	   Also a route plan and gifts are part of the web site.
	</p>
	<p>
	   The website is based on PHP and will work with a MySQL database.  A nice 
	   feature is the cataloging of visitors of the wedding party.  It is handy
	   to allow some people for the full day(s), others only for the mass, yet
	   others for the reception.
	</p>

{% endblock %}

