{% extends "base.html" %}

{% block menu %}
    {% include "menu.html" %}
{% endblock%}

{% block body %}
	
	<p> 
	 	Here you'll find a list of clients that appreciated the 
	 	work ElevenBits did for them.
	</p>
	
	<p>
		Ericsson || Broadcom || Eicell || Eircom || 
		CapeTechnologies || BASE || Accenture || 
		Siemens Business Services || European Commission 
		|| Sogeti || SmalS || CBSS
	</p>
	
	<p>
		Currenly ElevenBits is consulting 21Net, a company
		delivering broadband on trains.
	</p>

{% endblock %}

