<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load lookup %}
{% load compress %}

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Jan Willems <jw@elevenbits.com>"/>

        <link rel="stylesheet" href="{% static "css/uikit.min.css" %}" type="text/css"/>

        {% compress css %}
            <link rel="stylesheet" href="{% static "elevenbits.less" %}" type="text/less"/>
        {% endcompress %}

        <script src="{% static "js/uikit.min.js" %}" type="text/javascript"></script>
        <script src="{% static "js/uikit-icons.min.js" %}" type="text/javascript"></script>

        <title>{{ assets | lookup:'title' }}</title>

    </head>

    <body>

        {% block header %}{% include "header.html" %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% include "footer.html" %}{% endblock %}

    </body>

</html>