{% load static %}

<nav class="uk-navbar-container uk-container-expand" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">
            <img src="{% static "images/elevenbits-extra.png" %}"
                 alt="ElevenBits Logo"></a>
        </a>
    </div>
    <div class="nav-overlay uk-navbar-right">
        <ul class="uk-navbar-nav uk-text-bold">
            {% for menu in menus %}
                <li {% if menu.active %}class="uk-active"{% endif %}>
                    <a href="{{ menu.url }}">{{ menu.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a class="uk-navbar-toggle" uk-search-icon
                   uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            </li>
        </ul>
    </div>
    <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
        <div class="uk-navbar-item uk-width-expand">
            <form action="/search" method="get" class="uk-search uk-search-navbar uk-width-1-1">
                <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
            </form>
        </div>
        <a class="uk-navbar-toggle" uk-close
           uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
    </div>
</nav>