<!DOCTYPE html>

{% load static %}
{% load compress %}

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Jan Willems <jw@elevenbits.com>"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">

        <link rel="stylesheet" href="{% static "css/uikit.min.css" %}" type="text/css"/>
        <link rel="stylesheet" href="{% static "css/code.css" %}" type="text/css"/>
        <script src="{% static "js/uikit.min.js" %}" type="text/javascript"></script>
        <script src="{% static "js/uikit-icons.min.js" %}" type="text/javascript"></script>

        {% compress css %}
            <link rel="stylesheet" href="{% static "elevenbits.less" %}" type="text/less"/>
        {% endcompress %}

        <title>Hello {{ hello }}</title>

    </head>

    <body>

        <p class="bottom-footer">
            Hello {{ hello }}
        </p>

        <p class="highlight pre">
            PRE?
            <div class="highlight o">Comment?</div>
        </p>

    </body>

</html>
