		<section id="content">

            <p>Content comes here!</p>

		</section><!-- #content end -->

		<footer id="footer" class="dark">

			<div class="container">

				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="images/footer-widget-logo.png" alt="" class="footer-logo">

								<p>Pedal on, pedal on, for <strong>miles</strong>!</p>

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Headquarters:</strong><br>
										Zenobe Grammestraat 22<br>
										2018 Antwerp<br>
                                        Belgium<br>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr>+32 472 96 99 96<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr>jw@elevenbits.com
								</div>

							</div>

						</div>

                    </div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2017 All Rights Reserved by ElevenBits.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i>
                        jw@elevenbits.com
                        <span class="middot">&middot;</span>
                        <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->
