    <div class="uk-grid">

        <div class="uk-width-1-2">
            <div class="uk-flex-column">
                <div class="">
                     <a href="#">Terms of Use</a> |
                     <a href="#">Privacy Policy</a>
                </div>
                <div>
                    {% load version %}
                    Running on Python {% version 'python' %} and
                    Django {% version 'Django' %}.
                </div>
            </div>
        </div>

        <div class="uk-width-1-2 uk-text-right">
            <a href="https://twitter.com/ElevenBits" uk-icon="icon: twitter"></a>
            <a href="https://www.pinterest.com/elevenbits/" uk-icon="icon: pinterest"></a>
            <a href="https://github.com/jw" uk-icon="icon: github"></a>
            <a href="https://github.com/jw" uk-icon="icon: linkedin"></a>
        </div>

    </div>
