{% load static %}

<header id="header" class="full-header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo">
                <a href="/home" class="standard-logo"
                   data-dark-logo="{% static "images/logo-dark.png" %}">
                    <img src="{% static "images/elevenbits-extra.png" %}"
                         alt="ElevenBits Logo"></a>
                <a href="/home" class="retina-logo"
                   data-dark-logo="{% static "images/logo-dark@2x.png" %}">
                    <img src="{% static "images/elevenbits-larger-extra.png" %}"
                         alt="ElevenBits Logo"></a>
            </div>

            <nav id="primary-menu">

                {% block menu %}
                    {% load sitetree %}
                    {% sitetree_menu from "root" include "trunk" %}
                {% endblock %}

                <div id="top-search">
                    <a href="#" id="top-search-trigger">
                        <i class="icon-search3"></i>
                        <i class="icon-line-cross"></i>
                    </a>
                    <form action="search" method="post">
                        <input type="text" name="q" class="form-control"
                               value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>

            </nav>

        </div>

    </div>

</header>
