{% load static %}

<header id="header" class="full-header">

    <ul id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo">
                <a href="index.html" class="standard-logo"
                   data-dark-logo="{% static "images/logo-dark.png" %}">
                    <img src="{% static "images/elevenbits.png" %}"
                         alt="ElevenBits Logo"></a>
                <a href="index.html" class="retina-logo"
                   data-dark-logo="{% static "images/logo-dark@2x.png" %}">
                    <img src="{% static "images/elevenbits@2x.png" %}"
                         alt="ElevenBits Logo"></a>
            </div>

            <nav id="primary-menu">

                {% block menu %}
                    {% load sitetree %}
                    {% sitetree_menu from "root" include "trunk" %}
                {% endblock %}

                <div id="top-search">
                    <a href="#" id="top-search-trigger">
                        <i class="icon-search3"></i>
                        <i class="icon-line-cross"></i>
                    </a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control"
                               value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div>

            </nav>

        </div>

    </ul>

</header>


<section id="page-title">

    <div class="container clearfix">
        <h1>Blog</h1>
        <span>Our Latest News</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </div>

</section><!-- #page-title end -->
