<header>

    <logo>

        <image>
            <a href="{% url 'home:home' %}" id="logo">
                {% load sitetree %}
                {% load static %}
                <img src="{% static "img/red.png" %}" alt="ElevenBits">
            </a>
        </image>

        <brand>
            <p>elevenbits</p>
        </brand>

    </logo>

    <menu>

        {% block menu %}
            {% sitetree_menu from "root" include "trunk" %}
        {% endblock %}

        <search>
            <p>Hello</p>
{#            <form method="get" action="/search">#}
{#                <input type="text" placeholder="Search" name="q"/>#}
{#            </form>#}
        </search>

    </menu>

</header>

<content>
    <h1>This is a title</h1>
    <p>This is content</p>

</content>

<footer>
    <p>Hello there form the footer</p>
</footer>
