{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>ElevenBits</title>

      <!-- Meta SEO -->
      <meta name="title" content="ElevenBits">
      <meta name="description" content="ElevenBits">
      <meta name="robots" content="index, follow">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="language" content="English">
      <meta name="author" content="Jan Willems <jw@elevenbits.com>">

      <link rel="stylesheet" href="{% static 'tailwind/output.css' %}">

  </head>
  <body class="bg-blue-100">
    {% block content %}
    {% endblock content %}
  </body>
</html>
