{% load static %}
{% load version %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ElevenBits</title>

    <!-- Meta SEO -->
    <meta name="title" content="ElevenBits">
    <meta name="description" content="ElevenBits">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Jan Willems <jw@elevenbits.com>">

    <link rel="stylesheet" href="{% static 'tailwind/output.css' %}">

</head>
<body>

    {% block content %}
    {% endblock content %}

     {% block footer %}
        <footer class="px-10 py-4 border-t footer bg-base-200 text-base-content border-base-300">
            <div class="items-center grid-flow-col">
                <a href="/">
                    Running on Python {% version 'python' %} and Django {% version 'Django' %}.
                </a>
            </div>
            <div class="md:place-self-center md:justify-self-end">
                <div class="grid-flow-col">
                    <a class="mx-2" href="/about">About</a>
                    <a class="mx-0" href="/cookies">Cookies</a>
                </div>
            </div>
        </footer>
    {% endblock %}

</body>
</html>
