/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/




.entry:after {
	height: 0px;
}

#header.full-header #logo {
    border-right: 0px;
}

#header.full-header #primary-menu > ul {
    border-right: 0px;
}

.pagination {
    justify-content: center;
}

::selection {
	background: red;
	color: #FFF;
	text-shadow: none;
}