//
// Generics
//

// Colors

black = #fff
dark-grey = #3a3a3a
light-grey = #909090
lighter-grey = #efefef

// font

font = 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif

//
// Mixins
//

menu_tag()
  border-bottom 1px solid transparent
  border-top 6px solid transparent
  color #3a3a3a
  font-family font
  font-size 12px
  font-weight 800
  display block
  padding 26px 20px 40px
  text-align center
  text-transform uppercase
  //z-index: 98  // FIXME
  text-decoration: none

//
// Body
//

body
  margin 0 0 0 0
  border-top 6px solid dark-grey
  font 1em font

container
  margin auto
  display flex
  flex-direction column
  justify-content center
  width 1200px  // FIXME: add media info here!

//
// Header: log, banner, menu items and search box.
//

header
  display flex
  flex-direction row
  justify-content space-between
  border-bottom 1px solid lighter-grey
  margin 0

  logo
    display flex
    flex-direction row
    align-items center
    border solid 1px black // FIXME
    image
      border 1px green // FIXME
    brand
      menu_tag()

  menu
    display flex
    justify-content flex-end
    margin 0
    border solid 1px green // FIXME
    ul
      display flex
      border solid 1px yellow // FIXME
      margin 0
      li
        border solid 1px magenta
        // border solid black // FIXME
        list-style none
        //margin 0
        a
          menu_tag()
    search
      border solid 1px magenta
