black = #fff
dark-grey = #3a3a3a
light-grey = #909090

body
  margin 0 0 0 0
  background black
  border-top 6px solid dark-grey
  color light-grey
  font 11px/1.7 'Lucida Sans Unicode', 'Lucida Grande', sans-serif  // FIXME

container
  margin auto
  display flex
  flex-direction column
  justify-content center
  background-color red
  padding 10 10 10 10
  width 1200px

header
  background-color green


  //#logo
  //  display: block
  //  float: none
  //  text-align: center
  //
  //  #main-nav
	//  float: none
  //    margin: 10px 0 20px
  //
  //    #main-nav li
  //      width: 50%

        //#main-nav a {
			//		border-bottom-color: #efefef;
			//		padding: 16px 20px 30px;
			//	}
        //
			//	#main-nav > ul > li:last-child a { border-bottom-color: transparent; }
        //
			//	#main-nav > ul > .current:last-child a { border-bottom-color: #f15a23; }
        //
			//	#main-nav ul ul { width: 100%; }
        //
			//	.no-js #main-nav li:hover > ul, #main-nav ul ul { top: 72px; }
        //
			//		#main-nav ul ul li { width: auto; }
        //
			//			#main-nav ul ul li:first-child > a { border-top: none; }
        //
			//			#main-nav ul ul li:last-child > a { border-bottom: none; }
        //
			//			#main-nav ul ul ul {
			//				border-bottom: 1px solid #252525;
			//				-webkit-box-shadow: none;
			//				   -moz-box-shadow: none;
			//						box-shadow: none;
			//				display: block !important;
			//				left: 0 !important;
			//				margin: 0;
			//				top: 0 !important;
			//				position: relative;
			//			}
        //
			//			#main-nav ul ul li:last-child ul {
			//				border-top: 1px solid #252525;
			//				border-bottom: none;
			//			}
        //
			//				#main-nav ul ul ul a { padding-left: 30px; }
        //
			//					#main-nav ul ul ul li:first-child a { border-top: 1px solid #4c4c4c; }
