{% load sitetree %}
<ul class="sf-js-enabled" style="touch-action: pan-y;">
    {% for item in sitetree_items %}
        <li class="{% if item.has_children %}sub-menu{% endif %}
                   {% if item.is_current or item.in_current_branch %}current{% endif %}">
            <a href="{% if item.has_children %}sf-with-ul{% else %}{% sitetree_url for item %}{% endif %}"
               class="{% if item.has_children %}dropdown-toggle" aria-haspopup="true" id="navitem-{{ item.id }}" data-toggle="dropdown{% endif %}">
                {{ item.title_resolved }}
            </a>
            {% if item.has_children %}
                {% sitetree_children of item for menu template "sitetree/menu_bootstrap4_dropdown.html" %}
            {% endif %}
        </li>
    {% endfor %}
</ul>