{% load markdownify %}

<article>
    <h4>
        <a href="{% url 'blog:detail' entry.pk %}">
            {{ entry.title }}
        </a>
    </h4>
    <p>
        <span uk-icon="calendar"></span>
        {{ entry.posted | date:"l, jS F Y, Hi\h\r\s" }}
        <span uk-icon="user"></span>
        jw  {# add user to entry #}
        <span uk-icon="tag"></span>
        {% for tag in entry.tags.all %}
            <a href="{% url 'blog:tag' tag.pk %}">{{ tag.tag }}</a>
            {% if not forloop.last %} | {% endif %}
        {% endfor %}
    </p>
    <p>
        {{ entry.body | markdown | safe }}
    </p>
</article>
