{% extends "base.html" %}

{% load static %}
{% load version %}

{% block content %}
    <div class="prose">
        <h2>ElevenBits</h2>
    </div>
    <div>
        <p>
            Hello!  I am a freelance programmer and consultant.
            I love to cycle.  And I like coffee.
        </p>
        <p>
            Here I leave things I should not forget.
        </p>
    </div>
    <div class="prose">
        {% for entry in entries %}
            <p>
                <a class="link link-hover" href="{% url 'blog:detail' entry.pk %}">
                    {{ entry.title }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock content %}
