{% extends "base.html" %}

{% load static %}
{% load version %}

{% block content %}
    <div class="text-center">
        <h4>Hello!  I am a freelance programmer and consultant.</h4>
        <p class="fst-italic lh-sm">
            I love to cycle.  And I like coffee.</br>
            Here I leave things I should not forget.
        </p>
    </div>
    {% if latest_entry %}
        <h3 class="text-uppercase small fw-semibold mb-3">Latest blog entry</h3>
        <hr>
        {% include "entry.html" with entry=latest_entry %}
    {% endif %}
{% endblock content %}
