{% extends "base.html" %}

{% block menu %}
    {% include "menu.html" %}
{% endblock%}

{% block body %}

	<p>
		This site is built using <a href="http://www.ubintu.com">Ubuntu</a>
		and is running on a <a href="http://www.debian.org">Debian</a>
		instance.
	</p>
	
	<p>
		The fabulous <a href="http://www.djangoproject.com/">Django Project</a>
		was used as the Web framework to build this site. 
	</p>
	
	<p>
		The <a href="http://www.eclipse.org">Eclipse</a> editor was used
		with the <a href="http://pydev.sourceforge.net/">Pydev</a>
		and the <a href="http://www.eclipse.org/subversive/">Subversive</a>
		plugins.
	</p>
	
	<p>
		The images and logos where created using the 
		<a href="http://www.gimp.org/">gimp</a> and 
		<a href="http://www.sodipodi.com/">sodipodi</a> packages.
	</p>
	
	<p>  
		We hope the html is still valid. And the CSS sheets are all 
		conformant to the w3c standards.
	</p>
	
	<h3>licenses</h3>
	
	<p>  
		The tutorials and examples on this site are spread under the GNU
		Free Documentation License and the GNU General Public License.
	</p>

{% endblock %}

