<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block page_title %}[{{ page.title }}] {{ page.header }}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/default.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style.css" />
	{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body>
	<div class="main">
		{% block header %}{% endblock %}
		{% block menu %}{% endblock %}
    	{% block content %}
    		<div class="content">
    			{% block logo %}
    				<div class="logo">
						<img title="m8n" alt="m8n" src="{{MEDIA_URL}}/images/m8n.png"/>
					</div>
    			{% endblock %}
    			{% block title %}
					<h1>[{{ page.title }}]</h1>
					<h2>{{ page.header }}</h2>
    			{% endblock %}
    			{% block message %}
    			    {% if messages %}
    			    	<div class="messages">
		    				{% for message in messages %}
								<div class="message">{{message}}</div>
						    {% endfor %}
						</div>
					{% endif %}
    			{% endblock %}
    			{% block body %}{% endblock %}
    		</div>
    	{% endblock %}
    	{% block footer %}
    	<div class="footer">
			{% load revision %}
			<div class="left">[11.06.2009, 2238hrs, release: {% revision %}]</div>
			<div class="right">© copyright 2004-2009, m8n</div>
		</div>
    	{% endblock %}
    </div>
</body>
</html>
