{% extends "base.html" %}

{% block title %}[{{ page.title }}] {{ page.header }} {% endblock %}

{% block menu %}
    <div class="menu"><ul>
    	{% for menu in menu_list %}
    		<li>
	       		<a href={{menu.link}}>{{ menu.name }}</a>
	       	</li>
    	{% endfor %}
	</ul></div>
{% endblock%}

{% block content %}
	
	<div class="content">
	
		<div class="logo">
			<img title="m8n" alt="m8n" src="{{MEDIA_URL}}images/m8n.png"/>
		</div>

{% if latest_entry_list %}
	<h1>[{{ page.title }}]</h1>
	<h2>{{ page.header }}</h2>
	
    {% for entry in latest_entry_list %}
    	
        <div class="entry">

	        <h3>{{ entry.title }}</h3>
			<h4>{{ entry.posted|date:"l, nS F Y, Hi\h\r\s" }}</h4>
			
			{% if entry.tags.all %}
			<div class="tags"> 
				{% for tag in entry.tags.all %}
					<a href="blog/tag/all/{{tag.tag}}">{{tag.tag}}</a>
					{% if not forloop.last %} | {% endif %}
				{% endfor %}
			</div>
			{% endif %}

        	<div class="body">
        		{% load markup %}
	        	{{ entry.body|markdown:"codehilite(force_linenos=True)" }}
        	</div>

        </div>

    {% endfor %}

{% else %}
    <p>No blog entries are available.</p>
{% endif %}

	</div>

{% endblock %}

