{% extends 'base.html' %}

{% load markdownify %}

{% block content %}

    <div class="uk-container">

    <h1>{{ query }}</h1>

    <d1 class="uk-description-list">
    {% for tag in tags %}
        <dt><span class="uk-label">tag</span> {{ tag.object.tag }}</dt>
        <dd>
{#            TODO: list of tag entries#}
        </dd>
    {% endfor %}

    {% for entry in entries %}
        <dt>
            <span class="uk-label">blog entry</span>
            <a href="/blog/{{ entry.object.id }}">
                {{ entry.object.title }}
            </a>
        </dt>
        <dd>{{ entry.object.slug }}</dd>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
    </d1>

{#    {% for result in object_list %}#}
{#        <p>#}
{#            <span class="uk-label">{{ result.content_type }}</span>#}
{#            <a href="{{ result.object.get_absolute_url }}">#}
{#                {{ result.object.title }}#}
{#                {{ result.object.body }}#}
{#                {{ result.object.name }}#}
{#                {{ result.object.value }}#}
{#            </a>#}
{#        </p>#}
{#    {% endfor %}#}

    </div>

{% endblock %}
