{% extends "base.html" %}

{% block content %}

    <section id="content" class="container clearfix">

		<header class="page-header">

            <!-- This is the styled 404 message -->
            <h1 class="page-title">Oops!</h1>

		</header>

	</div>

	<div class="container clearfix">

        <h2 class="slogan align-center">
            Sorry, the requested URL was not found on this server.<br/>
            <div class="lightgray">That's all we know.</div>
        </h2>

    </div>

    <div class="clear"/>

    </section>

{% endblock %}
