{% extends "base.html" %}

{% block content %}

    <section id="content" class="container clearfix">

		<header class="page-header">

            <!-- This is the styled 500 message -->
            <h1 class="page-title">Oops!</h1>

		</header>

	</div>

	<div class="container clearfix">

        <h2 class="slogan align-center">
            Sorry, this server has some issues.<br/>
            <div class="lightgray">We are fixing them right now. Please try again soon.</div>
        </h2>

    </div>

    <div class="clear"/>

    </section>

{% endblock %}
