<!DOCTYPE html>
{% block head %}{% include "components/head.html" %}{% endblock %}
<body class="stretched">

    <div id="wrapper" class="clearfix">

        {% block header %}{% include "components/header.html" %}{% endblock %}
        {#{% block content%}{% include "components/content.html" %}{% endblock %}#}
        {% block footer%}{% include "components/footer.html" %}{% endblock %}

	</div><!-- #wrapper end -->

	<div id="gotoTop" class="icon-angle-up"></div>

    {% load static %}
    <script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/functions.js" %}"></script>

</body>
</html>
