{% extends "base.html" %}

{% block body %}

    <div class="container">

        <div class="sixteen columns">

            <div id="page-title">
                <h2>The Blog <span>/ Words of Wisdom</span></h2>
                <div id="bolded-line"></div>
            </div>

        </div>

    </div>

    {% if entries %}

        <div class="container">
        <div class="twelve columns">

            {% for entry in entries.object_list %}
                {% include "entry.html" %}
            {% endfor %}

            <table><tr>
                <td>
                    <div class="previous">
                        {% if entries.has_previous %}
                            <a href="/page/{{ entries.previous_page_number }}">« previous page</a>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="next">
                        {% if entries.has_next %}
                            <a href="/page/{{ entries.next_page_number }}">next page »</a>
                        {% endif %}
                    </div>
                </td>
            </tr></table>

        </div>
        </div>

    {% else %}
        <p>No blog entries are available.</p>
    {% endif %}


{% endblock %}

