{% extends "base.html" %}

{% load lookup %}
{% load markdownify %}

{% block content %}

    <div class="uk-container">

        <div class="uk-margin-top" uk-grid>

            <div class="uk-width-3-4"> {# left column #}

                {% for entry in page_entries %}
                    {% include "components/entry.html" %}
                {% endfor %}

                <ul class="uk-pagination uk-flex-center" uk-margin>
                    {% if page_entries.has_previous %}
                        <li>
                            <a href="{% url 'blog:page' page_entries.previous_page_number %}">
                                <span uk-pagination-previous></span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page in page_entries.paginator.page_range %}
                        <li class="{% if page == page_entries.number %}uk-active{% endif %}">
                            <a href="{% url 'blog:page' page %}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    {% if page_entries.has_next %}
                        <li>
                            <a href="{% url 'blog:page' page_entries.next_page_number %}">
                                <span uk-pagination-next></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>

            </div>

            <div class="uk-width-1-4"> {# right column #}

                <h4>Tag Cloud</h4>

                <div class="tagcloud">
                    {% for tag in tags %}
                        {#  todo: use url tag? #}
                        <a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a>
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>

{% endblock %}
