{% extends "base.html" %}

{% block body %}

    <div class="container" xmlns="http://www.w3.org/1999/html">

    	<div class="sixteen columns">

            <div id="page-title">
                <h2>Clients</h2>
                <div id="bolded-line"></div>
            </div>

    	</div>

    </div>

    <div class="container">

        {% for client in clients %}

            <div class="sixteen columns">

            <div class="headline no-margin"><h3>{{ client.name }}</h3></div>
                <p>
                    <img class="image-right" src="{{ MEDIA_URL }}{{ client.logo }}" alt=""/>
                    {{ client.short|safe }}
                </p>
                <p>{{ client.long|safe }}</p>
            </div>

        {%  endfor %}

    </div>

{% endblock %}