{% extends "base.html" %}

{% block content %}

    {% load lookup %}

    <div id="map" style="height: 400px;" class="gmap">
        <p class="container">Something went wrong... Try to enable your
            JavaScript!</p>
    </div>

    <section id="content" class="container clearfix topmargin bottommargin">

        <div class="row">

            <div class="col_one_third">

                <h3>{{ assets|lookup:'contact.address' }}</h3>
                <p>
                    {{ assets|lookup:'contact.name' }}<br/>
                    {{ assets|lookup:'contact.street' }}<br/>
                    {{ assets|lookup:'contact.city' }}<br/>
                    {{ assets|lookup:'contact.country' }}
                </p>

                <h3>{{ assets|lookup:'contact.phone_and_email' }}</h3>
                <p>
                    {{ assets|lookup:'contact.phone' }}<br/>
                    {{ assets|lookup:'contact.email' }}<br/>
                </p>

                <h3>{{ assets|lookup:'contact.vat_and_bank_account' }}</h3>
                <p>
                    {{ assets|lookup:'contact.vat' }}<br/>
                    {{ assets|lookup:'contact.account'|safe }}.
                </p>

            </div>

            <div class="col_two_third col_last">

                <h3 id="form">{{ assets|lookup:'contact.lets_keep_in_touch' }}</h3>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form action="{% url 'contact:contact' %}"
                      method="post" novalidate>

                    {% csrf_token %}
                    {% include 'form.html' with form=form %}

                    <button type="submit"
                            class="button button-large button-rounded">
                        Submit
                    </button>

                </form>

            </div>

        </div>

    </section>

{% endblock %}

{% block map %}

    {% load static %}

    <script src="https://maps.google.com/maps/api/js?key={{ key }}"></script>
    <script src="{% static "js/jquery.gmap.js" %}"></script>

    <script type="text/javascript">

        $('#map').gMap({

            address: 'Zenobe Grammestraat 22, 2018 Antwerpen, Belgium',
            maptype: 'ROADMAP',
            zoom: 16,
            markers: [
                {
                    address: "Zenobe Grammestraat 22, 2018 Antwerpen, Belgium"
                }
            ],
            doubleclickzoom: true,
            controls: {
                panControl: true,
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: true,
                overviewMapControl: true
            }

        });

    </script>

{% endblock %}
