
<article class="entry clearfix">

    <div class="entry-body">

        <a href="{% url 'blog:detail' entry.pk %}">
            <h1 class="title">
                {{ entry.title }}
            </h1>
        </a>
        <h1 class="posted">
            {{ entry.posted|date:"l, jS F Y, Hi\h\r\s" }}
        </h1>
        <h1 class="tags">
            {% for tag in entry.tags.all %}
                <a href="{% url 'blog:tag' tag.pk %}">{{tag.tag}}</a>
                {% if not forloop.last %} | {% endif %}
            {% endfor %}
        </h1>

        <div class="image"></div>

        {% load markup %}
        <p>
        {{ entry.body|markup }}
        </p>

    </div>

</article>