<div class="entry clearfix">

    <div class="entry-image">

        <div class="entry-title">
            <a href="{% url 'blog:detail' entry.pk %}">
                <h1 class="title">
                    {{ entry.title }}
                </h1>
            </a>
        </div>

        <ul class="entry-meta clearfix">
            <li><i class="icon-calendar3"/>
                {{ entry.posted|date:"l, jS F Y, Hi\h\r\s" }}
            </li>
            <li><a href="#"><i class="icon-user"></i>jw</a></li>
            <li><i class="icon-folder-open"></i>
                {% for tag in entry.tags.all %}
                    <a href="{% url 'blog:tag' tag.pk %}">{{ tag.tag }}</a>
                    {% if not forloop.last %} | {% endif %}
                {% endfor %}
            </li>
        </ul>

        <div class="entry-content">
            {% load markup_tags %}
            <p>
                {{ entry.body|apply_markup:"markdown" }}
            </p>
        </div>

    </div>

</div>