{% extends "base.html" %}

{% block body %}

    <!-- image slider -->
    {% if slider_images %}
        <div class="container">
            <div class="sixteen columns">
                <section class="slider">
                    <div class="flexslider home">
                        <ul class="slides">
                            {% for image in slider_images %}
                                <li>
                                    <img src="{{ MEDIA_URL }}{{ image.file }}" alt="" />
                                    {% if image.stitle or image.caption %}
                                        <div class="slide-caption">
                                            {% if image.title %}
                                                <h3>{{ image.title }}</h3>
                                            {% endif %}
                                            {% if image.caption %}
                                                <p>{{ image.caption }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    {% endif %}

    <!-- 960 Container -->
    <div class="container">

        <!-- Icon Boxes -->
        <div class="icon-box-container">

            <!-- Icon Box Start -->
            <div class="one-third column">
                <div class="icon-box">
                    <i class="ico-display" style="margin-left: -10px;"></i>
                    <h3>Fresh &amp; Clean Design</h3>
                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                </div>
            </div>
            <!-- Icon Box End -->

            <!-- Icon Box Start -->
            <div class="one-third column">
                <div class="icon-box">
                    <i class="ico-cogwheel"></i>
                    <h3>Easily Customization</h3>
                    <p>Nam aliquam volutpat leo vel bibendum nunc elit purus, tempus pulvinare rhoncus egestas nibh volutpat leo.</p>
                </div>
            </div>
            <!-- Icon Box End -->

            <!-- Icon Box Start -->
            <div class="one-third column">
                <div class="icon-box">
                    <i class="ico-iphone"></i>
                    <h3>Fully Responsive</h3>
                    <p>Fusce porttitor turpis quis molestie costant equat. Nam purus, tincidunt sedeat dapibus ugravida ut dui. Fusce et magna libero.</p>
                </div>
            </div>
            <!-- Icon Box End -->

        </div>
        <!-- Icon Boxes / End -->

    </div>
    <!-- 960 Container / End -->

    <!-- 960 Container -->
    <div class="container">

        <div class="sixteen columns">
            <!-- Headline -->
            <div class="headline no-margin"><h3>Recent Work</h3></div>
        </div>

        <!-- Project -->
        <div class="four columns">
            <div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-09.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
            <div class="item-description">
                <h5><a href="#">Touch Gestures</a></h5>
                <p>Mauris sit amet ligula est, eget conseact etur lectus maecenas hendrerit suscipit.</p>
            </div>
        </div>

        <!-- Project -->
        <div class="four columns">
            <div class="picture"><a href="images/portfolio/portoflio-08-large.jpg" rel="image" title="Coffee Time"><img src="images/portfolio/portoflio-08.jpg" alt=""/><div class="image-overlay-zoom"></div></a></div>
            <div class="item-description">
                <h5><a href="#">Coffee Time</a></h5>
                <p>Amet sit lorem ligula est, eget conseact etur lectus hendrerit suscipit maecenas.</p>
            </div>
        </div>

        <!-- Project -->
        <div class="four columns">
            <div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-10.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
            <div class="item-description">
                <h5><a href="#">Surfing The Web</a></h5>
                <p>Lorem sit amet ligula est, eget conseact etur lectus maecenas hendrerit suscipit.</p>
            </div>
        </div>

        <!-- Project -->
        <div class="four columns">
            <div class="picture"><a href="single_project.html"><img src="images/portfolio/portoflio-07.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
            <div class="item-description">
                <h5><a href="#">Wireless Keyboard</a></h5>
                <p>Ligula mauris sit amet est eget consat etur lectus maecenas hendrerit suscipit.</p>
            </div>
        </div>

    </div>
    <!-- 960 Container / End -->


    <!-- clients -->
    {% if client_images %}
        <div class="container">
            <div class="sixteen columns">

                <!-- Headline -->
                <div class="headline no-margin"><h3>Our Clients</h3></div>

                <ul class="client-list">
                    {% for image in client_images %}
                        <li><img src="{{ MEDIA_URL }}{{ image.file }}" alt=""/></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    {%  endif %}

{% endblock %}

