{% extends "base.html" %}

{% block content %}

    <section id="content" class="container clearfix">

    <h2 class="slogan align-center">
        I am a software developer, designer and cyclist.<br>
	    On this site I leave interesting findings and opinions.
    </h2>

    <h6 class="section-title">Latest blog entry</h6>

    <hr/>

    {% if entry %}

        {% include "entry.html" %}

    {% endif %}

    <h6 class="section-title">Latest stuff from my blog</h6>

    {% if entries %}

        <ul class="post-carousel">

            {% for entry in entries %}
                <li>

                    <div class="entry-meta">

                        <a href="{% url 'blog:detail' entry.pk %}">
                            <span class="post-format link">Permalink</span>
                        </a>

                    </div>

                    <div class="entry-body">

                        <a href="{% url 'blog:detail' entry.pk %}">
                            <h5 class="title">{{ entry.title }}</h5>
                        </a>

                        <p class="align-right"><i>{{ entry.posted|date:"F Y" }}</i></p>

                    </div>

                </li>

            {% endfor %}

        </ul>

    {% endif %}

    </section>

{% endblock %}
