{% extends "base.html" %}

{% block content %}

    <section id="content" class="clearfix">

        <div class="container clearfix">
	    	<header class="page-header">
    		    <h1 class="page-title">Search</h1>
    		</header>
        </div>

        <div class="three-fourth last">

        <div class="container clearfix">
            <form method="get" action="/search">
                <input type="text" name="q"/>
                <button type="submit">Search</button>
            </form>
        </div>

        {% for entry in entries %}

            {% if entry.model_name == 'entry' and entry.object.active %}
                <h3>{{ entry.object.title }}</h3>
                {{ entry.object.body|truncatechars:40 }}
            {% endif %}

        {% endfor %}

    </section>

{% endblock %}
