{% extends "base.html" %}

{% block body %}

    <div class="container">

    	<div class="sixteen columns">

            <div id="page-title">
                <h2>Services</h2>
                <div id="bolded-line"></div>
            </div>

    	</div>

    </div>

    <div class="container">

        <div class="sixteen columns">
            <div class="notification success closeable" style="margin: 5px 0 25px 0;">
                <p>If you're looking for service which isn't listed below, please send us a message!</p>
                <a class="close" href="#"></a>
            </div>
        </div>

        <div class="two-thirds column">
            <div class="headline no-margin"><h4>Methodology</h4></div>

            <div class="one-third column alpha">
                <p>{{ static.methodologies_one }}</p>
            </div>

            <div class="one-third column alpha">
                <p>{{ static.methodologies_two }}</p>
            </div>
        </div>

        <div class="one-third column">
            <div class="headline no-margin"><h4>Features</h4></div>

            <ul class="check_list">
                {% for feature in features %}
                    <li>{{ feature.feature }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="sixteen columns">`
            <div class="headline low-margin"><h4>Services</h4></div>
        </div>

        {% for service in services %}

            {% if forloop.counter0|divisibleby:"2" %}
                <div class="icon-boxes-container">
            {% endif %}

                <div class="eight columns">
                    <div class="icon-box">
                        <i class="ico-stats" style="margin-left: -12px;"></i>
                        <h3>{{ service.title }}</h3>
                        {{ service.body|safe }}
                    </div>
                </div>

            {% if forloop.counter0|divisibleby:"2" %}
                </div>
            {% endif %}

        {% endfor %}

        <!-- clients -->
        {% if clients %}

            <div class="container">
                <div class="sixteen columns">

                    <div class="headline no-margin">
                        <h3>Some Of Our Clients</h3>
                    </div>

                </div>
            </div>

            <div class="container">

                <div class="sixteen columns">

                    <ul class="client-list" style="width: {{ width }}px;">

                        {% for client in clients %}
                            <li>
                                <a href="{{ client.url }}">
                                    <img src="{{ MEDIA_URL }}{{ client.image }}"
                                         alt="{{ client.name }} ({{ client.image.width }})"/>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

            </div>

        {%  endif %}

    </div>

{% endblock %}