{% extends "base.html" %}

{% block content %}

    <section id="content" class="container clearfix">

		<header class="page-header">

            <h1 class="page-title">{{ static.header }}</h1>

		</header>

        <section id="main" class="three-fourth">

            {% if entries %}

                {% for entry in entries.object_list %}
                    {% include "entry.html" %}
                {% endfor %}

                <section class="pagination">
                    <ul>
                        {% if entries.has_previous %}
                            <a href="{% url 'blog:tagpage' tag_id entries.previous_page_number %}">
                                <li>Previous</li>
                            </a>
                        {% endif %}
                        {% for page in entries.paginator.page_range %}
                            <a href="{% url 'blog:tagpage' tag_id page %}">
                                {% if page == entries.number %}
                                    <li class="selected">
                                {% else %}
                                    <li>
                                {%  endif %}
                                        {{ page }}
                                    </li>
                            </a>
                        {% endfor %}
                        {% if entries.has_next %}
                            <a href="{% url 'blog:tagpage' tag_id entries.next_page_number %}">
                                <li>Next</li>
                            </a>
                        {% endif %}
                    </ul>
                </section>

            {% else %}
                <p>No blog entries are available.  How weird.</p>
            {% endif %}

        </section>

        <aside id="sidebar" class="one-fourth last">

            <div class="widget">
                <h6 class="widget-title">
                    Blog Categories
                </h6>
                <ul class="categories">
                    {% for tag in tags %}
                        <li><a href="{% url 'blog:tag' tag.pk %}">
                            {{ tag.tag }} ({{ tag.entry_set.all.count }})
                        </a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="widget">
                <h6 class="widget-title">
                    Twitter Feed
                </h6>
                <ul class="tweets-feed">
                    {% for tweet in tweets %}
                        <li>{{ tweet.text }}
                            <span class="date">{{ tweet.created_at }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </aside>

        <div class="clear"/>

    </section> {# content #}

{% endblock %}
