{% extends "base.html" %}

{% block content %}

    <section id="content">

        <div class="container clearfix topmargin">

            <div id="posts">

                <div class="entry clearfix">

                    {% if entries %}

                        {% for entry in entries.object_list %}
                            {% include "entry.html" %}
                        {% endfor %}

                    {% else %}
                        <p>No blog entries are available.  How weird.</p>
                    {% endif %}

                </div>

            </div>

        </div>

    </section>

{% endblock %}
