{% extends "base.html" %}

{% load lookup %}

{% block content %}

    <div class="uk-container uk-margin-top">

                    <h1>{{ assets | lookup:'header' | safe }}</h1>

                    {% if entries %}

                        {% for entry in entries.object_list %}
                            {% include "components/entry.html" %}
                        {% endfor %}

                    {% else %}
                        <p>No blog entries are available.  How weird.</p>
                    {% endif %}

        </div>

{% endblock %}
